.khan__buy-link {
  margin: 0px 0px 0px 48px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition-property: opacity;
}